*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #404040;
}

.game-container {
    display: flex;
    justify-content: center;
}

.board {
    --board-width: 350px;
    margin: 2rem;
    border: 2px solid rgba(200, 200, 200, .4);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: var(--board-width);
    padding: .6rem;
}

.top, .grid {
    display: grid;
    /* TODO: get items per row from config */
    grid-template-columns: repeat(4, max-content);
}

.top {
    border: 2px solid rgba(200, 200, 200, .4);
    width: var(--board-width);
    display: flex;
    justify-content: center;
}

.circle {
    --background-color: 250, 250, 250;
    --circle-width: 50px;
    background-color: transparent;
    width: var(--circle-width);
    height: var(--circle-width);
    border: 2px solid rgba(200, 200, 200, .4);
    border-radius: 50%;
    margin: .25rem;
}
.circle.next-up {
    /* background-color: rgba(var(--background-color), 1); */
    cursor: pointer;
}
.circle.next-up:hover {
    background-color: rgba(var(--background-color), .5);
    cursor: pointer;
}
.circle.hidden {
    background: url(https://www.svgrepo.com/show/51211/question-mark.svg);
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    animation: spin 3s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}